body{
  font-family: "Work Sans", Arial, sans-serif;
}

.navbar-custom {
    background-color: #fff7f7;
}

.background-image{
  background-image: url("background/background.jpg");
  height: 100%;
  position: relative;
  opacity: 0.65;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

.location-container{
  /*margin-top: 30%;*/
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
}

.opening{
  background: rgba(255, 255, 255, 0.3);
  margin: 5%;
  padding: 2%;
  border: 1.5px solid grey;
}

.header-opening{
  background: rgba(219, 167, 61);
  padding: 1%;
  border: 1px solid #dba73d;
  border-radius: 10px;
}

.header-location{
  position: absolute;
  background: rgba(130, 72, 0);
  width: 10%;
  border: 1px solid #824800;
  border-radius: 10px;
  margin-left: 33%;
  z-index: 99;
}

.header-content{
  background: rgba(219, 167, 61);
  padding: 1%;
  border: 1px solid #dba73d;
  border-radius: 10px;
}

.image-logo-container{
  overflow: auto;
  margin-left: 33%;
}

.logo-opening{
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.subject-logo-container{
  overflow: auto;
  padding-top: 10%;
  margin-left: 7%;
}

.frame-logo{
  width: 30%;
}

.subject-logo{
  width: 15%;
}

.connector-logo{
  width: 3%;
}

.connector-subject{
  padding-top: 5%;
  margin-left: 15%;
}

.faris-subject{
  padding-top: 7%;
  margin-left: 1%;
}



.simply-countdown .simply-section div {
    display: table-cell;
    vertical-align: middle;
    height: 100px;
    width: 100px;
}


.simply-countdown .simply-section {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: rgba(241, 78, 149, 0.8);
    margin: 0 4px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    animation: pulse 1s ease infinite;
}


.simply-countdown .simply-section .simply-amount {
    font-size: 30px;
}

.simply-countdown .simply-section .simply-amount, .simply-countdown .simply-section .simply-word {
    display: block;
    color: white;
}
.simply-countdown  .simply-section .simply-word {
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    font-size: 12px;
}

#fh5co-header .display-tc .btn, #fh5co-counter .display-tc .btn, .fh5co-cover .display-tc .btn {
    padding: 15px 20px;
    background: #fff !important;
    color: #F14E95;
    border: none !important;
    font-size: 14px;
    text-transform: uppercase;
}

.btn {
    margin-right: 4px;
    margin-bottom: 4px;
    font-family: "Work Sans", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    padding: 8px 20px;
}


.fh5co-nav {
  background-color: black;
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 20px 0;
  z-index: 1001;
}
@media screen and (max-width: 768px) {
  .fh5co-nav {
    padding: 20px 0;
  }
}
.fh5co-nav #fh5co-logo {
  font-size: 40px;
  margin: 0;
  padding: 0;
  line-height: 40px;
  font-family: "Sacramento", Arial, serif;
}
.fh5co-nav a {
  padding: 5px 10px;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .fh5co-nav .menu-1, .fh5co-nav .menu-2 {
    display: none;
  }
}
.fh5co-nav ul {
  padding: 0;
  margin: 2px 0 0 0;
}
.fh5co-nav ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
}
.fh5co-nav ul li a {
  font-size: 14px;
  padding: 30px 10px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.fh5co-nav ul li a:hover, .fh5co-nav ul li a:focus, .fh5co-nav ul li a:active {
  color: white;
}
.fh5co-nav ul li.has-dropdown {
  position: relative;
}
.fh5co-nav ul li.has-dropdown .dropdown {
  width: 130px;
  -webkit-box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
  z-index: 1002;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 40px;
  left: 0;
  text-align: left;
  background: #fff;
  padding: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}
.fh5co-nav ul li.has-dropdown .dropdown:before {
  bottom: 100%;
  left: 40px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #fff;
  border-width: 8px;
  margin-left: -8px;
}
.fh5co-nav ul li.has-dropdown .dropdown li {
  display: block;
  margin-bottom: 7px;
}
.fh5co-nav ul li.has-dropdown .dropdown li:last-child {
  margin-bottom: 0;
}
.fh5co-nav ul li.has-dropdown .dropdown li a {
  padding: 2px 0;
  display: block;
  color: #999999;
  line-height: 1.2;
  text-transform: none;
  font-size: 15px;
}
.fh5co-nav ul li.has-dropdown .dropdown li a:hover {
  color: #000;
}
.fh5co-nav ul li.has-dropdown:hover a, .fh5co-nav ul li.has-dropdown:focus a {
  color: #fff;
}
.fh5co-nav ul li.btn-cta a {
  color: #F14E95;
}
.fh5co-nav ul li.btn-cta a span {
  background: #fff;
  padding: 4px 20px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  border-radius: 100px;
}
.fh5co-nav ul li.btn-cta a:hover span {
  -webkit-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
}
.fh5co-nav ul li.active > a {
  color: #fff !important;
}

.fh5co-nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
}
.fh5co-nav-toggle.active i::before, .fh5co-nav-toggle.active i::after {
  background: #444;
}
.fh5co-nav-toggle:hover, .fh5co-nav-toggle:focus, .fh5co-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}
.fh5co-nav-toggle i {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 2px;
  color: #252525;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #252525;
  transition: all .2s ease-out;
}
.fh5co-nav-toggle i::before, .fh5co-nav-toggle i::after {
  content: '';
  width: 25px;
  height: 2px;
  background: #252525;
  position: absolute;
  left: 0;
  transition: all .2s ease-out;
}
.fh5co-nav-toggle.fh5co-nav-white > i {
  color: #fff;
  background: #fff;
}
.fh5co-nav-toggle.fh5co-nav-white > i::before, .fh5co-nav-toggle.fh5co-nav-white > i::after {
  background: #fff;
}

.fh5co-nav-toggle i::before {
  top: -7px;
}

.fh5co-nav-toggle i::after {
  bottom: -7px;
}

.fh5co-nav-toggle:hover i::before {
  top: -10px;
}

.fh5co-nav-toggle:hover i::after {
  bottom: -10px;
}

.fh5co-nav-toggle.active i {
  background: transparent;
}

.fh5co-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.fh5co-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.fh5co-nav-toggle {
  position: absolute;
  right: 0px;
  top: 10px;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  height: 44px;
  width: 44px;
  z-index: 2001;
  border-bottom: none !important;
}
@media screen and (max-width: 768px) {
  .fh5co-nav-toggle {
    display: block;
  }
}



blockquote {
    padding: 5px 10px;
    margin: 0 0 0px;
    font-size: 17.5px;
    border-left: 5px solid #eeeeee;
}





/* ====================
pagethree The Couple
==================== */
.pagethree{
    min-height: 100vh;
    background-image: url(../img/3bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    position: relative;
}
.couple{
    text-align: center;
    min-height: 100vh;
    padding: 10vh 0;
}
.kontencouple h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2em;
    color: black;
    padding: 10px;
}
.kontencouple h2{
    text-align: center;
    font-family: 'Acme', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    color: #F0BCC1;
    padding: 10px;
}
.kontencouple .namacowo{
}
.kontencouple .namacewe{
    /*padding-top: 40px;*/
}
.kontencouple .namacowo h2{
    /* font-family: 'Comfortaa', cursive; */
    font-family: 'Great Vibes', cursive;
    font-weight: 600;
    font-size: 1.7em;
    color: #1D1819;
    padding: 0;
    text-align: right;
    margin: 0px;
}
.kontencouple .namacewe h2{
    /* font-family: 'Comfortaa', cursive; */
    font-family: 'Great Vibes', cursive;
    font-weight: 600;
    font-size: 1.7em;
    color: #1D1819;
    padding: 0px;
    text-align: left;
    margin: 0px;
}
.kontencouple .namacowo h3{
    font-family: 'Comfortaa', cursive;
    font-weight: 600;
    font-size: 0.7em;
    color: #FF725F;
    padding-top: 5px;
    text-align: right;
    /* line-height: 2; */
}
.kontencouple .namacewe h3{
    font-family: 'Comfortaa', cursive;
    font-weight: 600;
    font-size: 0.7em;
    color: #FF725F;
    padding-top: 5px;
    text-align: left;
    /* line-height: 2; */
}

* .float-left{
    float: left;
}
* .float-right{
    float: right;
}
.nopadding {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin: 0 !important;
}
.nomargin{
    margin: 0 !important;
}
.kontencouple img{
    width: 250px;
    padding: 10px 0;
}
.kontencouple .col{
    padding: 0px;
}
.kontencouple .col-md-auto{
    padding: 0px;
}
.kontencouple .couplecowo{
    min-width: 500px;
    /* padding: 10px 5px; */
    padding: 0px;
    padding-top: 10vh;
    margin: 0px;
    /* margin-left: -20px; */
}
.kontencouple .couplecewe{
    min-width: 500px;
    /* padding: 10px 5px; */
    padding: 0px;
    padding-top: 10vh;
    margin: 0px;
    /* margin-right: -20px; */
}
.dan{
    position: absolute;
    left: 48%;
    top: 49%;
    z-index: 10;
}
.dan img{
    /* padding: 14vh 0; */
    width: 50px;
}
.kontencouple .couplecowo img{
    /* background-position: center center; */
    width: 170px;
    /* background-repeat: no-repeat; */
    padding: 0px;
    padding-left: 30px;
    float: right;
}
.kontencouple .couplecewe img{
    width: 175px;
    padding: 0px;
    padding-right: 30px;
    float: left;
}
.kontencouple .couplecowo .namacowo img{
    width: 150px;
    padding: 0px;
    /* margin-top: 50px;
    margin-left: 20px;
    float: center; */
}
.kontencouple .couplecewe .namacewe img{
    width: 220px;
    padding: 0px;
    /* margin-top: 60px;
    margin-right: 20px;
    float: center; */
}
@media(max-width: 500px){
    .dan{
        position: relative;
        /* margin-left: auto;
        margin-right: auto; */
        
    }
    .dan img{
        padding: 20px 0x;
        width: 75px;
        margin-left: -20px;
    }
    .kontencouple .couplecewe{
        padding-top: 0vh;
        padding-bottom: 17vh;
    }
}
@media(max-width: 420px){
    .kontencouple .couplecowo{
        padding-top: 7vh;
    }
    .kontencouple .couplecewe{
        padding-top: 0vh;
        padding-bottom: 10vh;
    }
    .kontencouple .namacowo{
        padding-top: 45px;
    }
    .kontencouple .namacewe{
        padding-top: 45px;
    }
    /* .kontencouple .namacowo h3{
        padding-top:15px;
    }
    .kontencouple .namacewe h3{
        padding-top:15px;
    } */
    .kontencouple img{
        padding: 20px 0;
        max-width: 200px;
    }
    .kontencouple .couplecowo img{
        padding: 0px 10px 0px 10px;
        max-width: 200px;
    }
    .kontencouple .couplecewe img{
        padding: 0px 10px 0px 10px;
        max-width: 200px;
    }
    .kontencouple .couplecewe{
        padding-bottom: 20vh;
    }
}
@media(max-width: 400px){
    .kontencouple .couplecowo{
        max-width: 400px;
    }
    .kontencouple .couplecewe{
        max-width: 400px;
        /* min-width: 200px; */
    }
    .kontencouple .namacowo{
        padding-top: 40px;
    }
    .kontencouple .namacewe{
        padding-top: 40px;
    }
}
@media(max-width: 380px){
    .kontencouple .couplecowo img{
        padding: 0px 10px 0px 10px;
        max-width: 140px;
    }
    .kontencouple .couplecewe img{
        padding: 0px 10px 0px 10px;
        max-width: 140px;
    }
    .kontencouple .namacowo{
        padding-top: 35px;
    }
    .kontencouple .namacewe{
        padding-top: 35px;
    }
}
@media(max-width: 355px){
    .kontencouple img{
        padding:0px;
    }
    .kontencouple .couplecowo img{
        padding: 0px 10px 0px 10px;
        max-width: 125px;
    }
    .kontencouple .couplecewe img{
        padding: 0px 10px 0px 10px;
        max-width: 125px;
    }
    .kontencouple .dan img{
        /* padding: 0px; */
        max-width: 50px;
    }
    /* .kontencouple .couplecowo .namacowo img{
        width: 130px;
        padding: 0px;
    }
    .kontencouple .couplecewe .namacewe img{
        width: 135px;
        padding: 0px;
    } */
    .kontencouple .namacowo{
        padding-top: 30px;
    }
    .kontencouple .namacewe{
        padding-top: 30px;
    }
    .kontencouple .namacowo h2{
        font-size: 1.5em;
        padding-left: 0px;
    }
    .kontencouple .namacewe h2{
        font-size: 1.5em;
        padding-right: 0px;
    }
    .kontencouple .namacowo h3{
        font-size: 0.67em;
        padding-left: 0px;
    }
    .kontencouple .namacewe h3{
        font-size: 0.67em;
        padding-right: 0px;
    }
}



/* ====================
pagefive The Wedding
==================== */
.pagefive{
    min-height: 100vh;
    background-image: url(../img/5bg.png);

    /* Parallax EFFECTS */
    /* background-attachment: fixed; */
    
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    /* position: fixed; */
}
.wedding{
    text-align: center;
    min-height: 100vh;
    padding: 5vh 0;
}
.kontenwedding img{
    text-align: center;
    width: 180px;
    /* margin: 10px;    */
    margin-top: 10vh;
}
.kontenwedding .addeventatc{
    z-index: 1;
}
span.addeventatc{
    margin-top: 20px;
}
.weddingcol{
    width: 430px;
    max-height: 266px;
    border-color: #FF725F;
    border-radius: 12px;
    padding: 10px 10px;
    margin: 20px 20px;
   background-color: antiquewhite;
}
.weddingcol .weddingresepsi li{
    color: #FF725F;
    font-size: 0.8em;
    font-weight: 100;
    text-align: center;
    list-style-type: none;
    font-family: 'Acme', sans-serif;    
    /* font-family: 'Comfortaa', cursive; */
    /* font-family: 'Hammersmith One', sans-serif; */
    /* font-weight: 700; */
}
.weddingcol .weddingakad li{
    color: #FF725F;
    font-size: 0.8em;
    font-weight: 500;
    text-align: center;
    list-style-type: none;
    font-family: 'Acme', sans-serif;    
    /* font-family: 'Comfortaa', cursive; */
    /* font-family: 'Hammersmith One', sans-serif; */
    /* font-weight: 700; */
}
  
.kontenwedding .konten{
    max-width: 55vw;
    margin-left: auto;
    margin-right: auto;
}
.wedding .kontenwedding .konten  h1{
    color: black;
    text-align: center;
    padding: 25px;
    padding-bottom: 0px;
    padding-top: 25px;
    font-size: 1.2em;
}
@media(max-width: 500px){
    .kontenwedding .konten{
        max-width: 100vw;
    }
    .wedding .kontenwedding .konten  h1{
        padding: 20px;
        padding-bottom: 10px;
    }
}
.kontenwedding .weddingcol .weddingresepsi h1{
    list-style-type: none;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    /* font-family: 'Great Vibes', cursive; */
    font-size: 1.8em;
    /* text-decoration: underline; */
    /* padding: 5px; */
    color: #FF725F;
    border-bottom: 5px solid #FF725F;
}
.kontenwedding .weddingcol .weddingakad h1{
    list-style-type: none;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    /* font-family: 'Great Vibes', cursive; */
    font-size: 1.8em;
    /* text-decoration: underline; */
    /* padding: 5px; */
    color: #FF725F;
    border-bottom: 5px solid #FF725F;
}
.kontenwedding .weddingcol .weddingresepsi h2{
    font-size: 0.8em;
    font-weight: 500;
    text-align: center;
    list-style-type: none;
    font-family: 'Acme', sans-serif; 
    padding: 5px;
    color: #FF725F;
}
.kontenwedding .weddingcol .weddingakad h2{
    font-size: 0.8em;
    font-weight: 500;
    text-align: center;
    list-style-type: none;
    font-family: 'Acme', sans-serif; 
    padding: 5px;
    color: #FF725F;
}
.weddingresepsi .event {
    /* padding-top: 10px; */
    text-align: center;
}
.weddingakad .event {
    /* padding-top: 10px; */
    text-align: center;
}
/* .kontenwedding .weddingakad img{
    max-width: 150px;
}
.kontenwedding .weddingresepsi img{
    max-width: 105px;
} */
@media(max-width: 440px){
    .weddingcol{
        padding: 10px;
        margin: 20px 20px;
    }
    .kontenwedding img{
        width: 175px;
    }
}


/* ====================
AKHIR pagefive The Wedding
==================== */


.doa {
    text-align: center;
    max-width: 65vw;
    margin-left: auto;
    margin-right: auto;
    color: #757475;
}

.text_Ayat{
  direction: rtl;
  font-style:normal;
  font-family: 'Amiri', serif;
  font-size: x-large;
  font-weight:bold;
  margin-bottom:20px;
  text-align: center;
  line-height: 200%;
}
