/* ====================
ALL VERSION desktop mobile both 
====================*/

html{
    scroll-behavior: smooth;
}
body{
    font-size: 20px;
    width: 100%;
}

@media(max-width: 768px){
    body{
        font-size: 16px;
    }
}

